.DS_Store
.thumbs.db
node_modules

# Quasar core related directories
.quasar
/dist

# Web workers copied from dependencies.
/public/js

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# BEX related directories and files
/src-bex/www
/src-bex/js/core

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
/.vs
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
VERSION.json

# Ignore BabylonJS_Docs folder
/BabylonJS_Docs/
public/local-assets/cityscape2048f.png
public/local-assets/Collisions_10-25-2023.glb
public/local-assets/Decor_10-25-2023.glb
public/local-assets/Foliage_10-25-2023.glb
public/local-assets/FurnitureCulling_10-25-2023.glb
public/local-assets/Headquarters_10-25-2023.glb
public/local-assets/Hologram_10-25-2023.glb
public/local-assets/LandscapeTilesLOD_10-25-2023.glb
public/local-assets/LandscapeTrimLOD_10-25-2023.glb
public/local-assets/LandscapeWalkwayLOD_10-25-2023.glb
public/local-assets/OuterWrap_10-25-2023.glb
public/local-assets/Path_10-25-2023.glb
public/local-assets/Reflections1k.hdr
public/local-assets/SitObjects_10-25-2023.glb
public/local-assets/SitObjectsNoSit_10-25-2023.glb
public/local-assets/Water_10-25-2023.glb
public/local-assets/Waterfalls_10-25-2023.glb
src/modules/directory_structure.txt
public/local-assets/Skybox2k.png
public/local-assets/Reflections4.hdr
public/local-assets/monkey.glb
public/local-assets/Cylinder.glb
public/local-assets/Meters.glb
